@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    background: #fff;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}

button {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 0 0;
}

.left-nav {
    display: flex;
    margin: 7px 10px;
}

.left-nav a {
    padding-left: 15px;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    margin: 7px 10px 0 0;
}

.right-nav a {
    padding-right: 15px;
}

.nine-dots {
    text-align: center;
    margin-top: -7px;
}

.nine-dots img {
    width: 16px;
    height: auto;
    padding: 7px 6px;
}

.user-circle {
    box-sizing: border-box;
    padding: 0;
    width: 32px;
    height: 32px;
    background: url(img/d-name.png) no-repeat center;
    background-size: cover;
    border-radius: 50%;
    margin: -8px 19px 0 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 552px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 24px auto 0 auto;
    padding: 0 15px;
}

.searchbar-div:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.searchbar {
    height: 34px;
    line-height: 34px;
    flex: 1 1 100%;
    font-size: 16px;
    border: none;
}

.mag-glass {
    height: 20px;
    width: 20px;
    color: #9aa0a6;
    font-size: small;
    padding-right: 15px;
}

.mag-svg {
    fill: currentColor;
}

button.x {
    background: transparent;
    border: none;
    visibility: hidden;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: monospace;
}

.search-btn-container {
    display: flex;
    justify-items: center;
    margin-top: 29px;
    position: relative;
}

.google-search, .feeling-lucky {
    margin: 0 5px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    padding: 0 12px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}

.google-search:hover {
    color: #222;
    border: 1px solid #9aa0a6;
    box-shadow: 0px 1px 1px 0 rgba(32,33,36,0.28);
}

.feeling-wheel {
    position: absolute;
    left: 138px;
    top: 0px;
    margin: 0 5px;
    padding: 0 12px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
    line-height: 34px;
    height: 35px;
    min-width: 117px;
    cursor: pointer;
    user-select: none;

    visibility: hidden;
}
